In [21]:
import pandas as pd
from scipy.sparse import csr_matrix

In [11]:
data = pd.read_csv("./data/expression_final.csv", sep=',', header=0, index_col=0)

In [12]:
data.head()

,1101,1104,29,30,1977,1973,1980,1976,1978,1974,...,1563,796,797,799,800,798,801,1296,1677,1672
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
AT1G01010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
AT1G01030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AT1G01040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AT1G01050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AT1G01060,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,-1.0,-1.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10769 entries, 0 to 10768
Columns: 388 entries, Unnamed: 0 to 1672
dtypes: float64(387), object(1)
memory usage: 31.9+ MB

In [16]:
sparse_data = data.astype(pd.SparseDtype(fill_value=0.0))
print(sparse_data)
print(sparse_data.memory_usage(deep=True))

            1101  1104   29   30  1977  1973  1980  1976  1978  1974  ...  \
Unnamed: 0                                                            ...
AT1G01010    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT1G01030    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT1G01040    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT1G01050    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT1G01060    0.0   0.0  1.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...          ...   ...  ...  ...   ...   ...   ...   ...   ...   ...  ...
AT5G67550    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT5G67560    0.0   0.0  0.0 -1.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT5G67590    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   1.0   0.0  ...
AT5G67620    0.0   0.0  0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
AT5G67630    0.0   0.0  0.0  1.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

            1563  796  797  799  800  798  801  1296  1677  1672
Unnamed: 0
AT1G01010    0.0  0.0  0.0  0.0  0.0  0.0  0.0   1.0   1.0   1.0
AT1G01030    0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT1G01040    0.0  1.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT1G01050    0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT1G01060    0.0  0.0  0.0  0.0  0.0 -1.0  0.0   0.0  -1.0  -1.0
...          ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
AT5G67550    0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT5G67560    0.0  0.0  0.0  0.0  0.0  0.0 -1.0   0.0   0.0   0.0
AT5G67590   -1.0 -1.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT5G67620    0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
AT5G67630    0.0  0.0  0.0  0.0  0.0 -1.0  0.0   1.0   0.0   0.0

[10769 rows x 387 columns]
Index    710754
1101       1572
1104       1224
29        14256
30        20376
          ...
798       18360
801       12732
1296      25140
1677      16344
1672      20580
Length: 388, dtype: int64

In [17]:
# CrÃ©ation directe d'un SparseDataFrame
sparse_data = pd.DataFrame.sparse.to_dense(sparse_data)
print(sparse_data)

AttributeError: 'DataFrame' object has no attribute '_parent'

In [23]:
data = data.astype(int)

In [24]:
data.head()

,1101,1104,29,30,1977,1973,1980,1976,1978,1974,...,1563,796,797,799,800,798,801,1296,1677,1672
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
AT1G01010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
AT1G01030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AT1G01040,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
AT1G01050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AT1G01060,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,0,-1,-1

In [26]:
matrice = csr_matrix(data.astype(pd.SparseDtype("int", 0)).sparse.to_coo())

In [30]:
print(matrice)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 280740 stored elements and shape (10769, 387)>
  Coords	Values
  (0, 42)	1
  (0, 73)	-1
  (0, 74)	-1
  (0, 75)	1
  (0, 80)	1
  (0, 94)	1
  (0, 98)	-1
  (0, 100)	-1
  (0, 105)	-1
  (0, 146)	1
  (0, 164)	1
  (0, 185)	1
  (0, 203)	1
  (0, 204)	1
  (0, 262)	-1
  (0, 263)	-1
  (0, 264)	1
  (0, 265)	1
  (0, 285)	-1
  (0, 286)	-1
  (0, 287)	-1
  (0, 313)	1
  (0, 314)	1
  (0, 315)	1
  (0, 316)	1
  :	:
  (10767, 366)	1
  (10767, 367)	1
  (10767, 369)	1
  (10767, 370)	-1
  (10767, 371)	-1
  (10768, 3)	1
  (10768, 74)	1
  (10768, 112)	-1
  (10768, 126)	-1
  (10768, 149)	-1
  (10768, 155)	-1
  (10768, 185)	1
  (10768, 219)	1
  (10768, 221)	1
  (10768, 222)	1
  (10768, 223)	1
  (10768, 258)	1
  (10768, 262)	1
  (10768, 264)	1
  (10768, 265)	1
  (10768, 325)	-1
  (10768, 370)	-1
  (10768, 371)	-1
  (10768, 382)	-1
  (10768, 384)	1